@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Oswald:wght@200;400&display=swap");

$font-title: "Oswald", sans-serif;
$font-subtitle: "Ephesis", cursive;
$font-text: "Oswald", sans-serif;
$transition: all 0.5s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url('https://i.postimg.cc/zGQ2ysJZ/gadgets-336635-1920.jpg');
  // background-position: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navigation{
  padding: 12px 0; 
}

.navigation ul{
  margin-left: 500px;
  padding: 0;
}

.navigation ul li{
  display: inline-block;
  margin-right: 60px;
  transition: $transition;
  padding-right: 0%;
}

.navigation ul li a{
  text-decoration: none;
  color: white;
  font-family: $font-title;
}

.navigation ul li a:hover{
  color: yellow;  
  border-radius: 0px;
  
}

.navigation h1 {
  font-family: $font-subtitle;
  color: yellow;
}

.page-intro{
  position: absolute;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
  max-width: 980px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.page-intro .page-title{
  font-family: $font-subtitle;
  color: white;
  font-size: 40px;
  text-shadow:  2px -2px 12px #333;
  text-align: center;
}

.page-intro .page-subtitle {
  font-family: $font-title;
  color: white;
  text-align: center;
  font-size: 70px;
  letter-spacing: 2px;
}

.btn {
  position: absolute;
  padding: 18px 24px 18px 24px;
  font-size: 16px;
  background-color: #f1c40f;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: $font-title;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

section {
  padding: 60px 0;
}

.services .container, .portfolio .container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

h3 {
  font-family: $font-title;
  color: black;
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
}

h4{
  font-family: 'Andada Pro', serif;
  color: gray;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.feature{
  margin-top: 30px;
}

.feature i{
  color: #f1c40f;
  text-align: center;
  // display: inline-block;
  margin-left: 40%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #f1c40f;
  border-radius: 50%;
}

.feature h3{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.feature p{
  text-align: center;
  font-family: 'Andada Pro', serif;
  color: grey;
}

.portfolio{
  background-color: #f0f3f3;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
  margin-bottom:0;
  padding-bottom:0;
  border: none;
}

  .card-body {
    background-color: white;
    margin-top: 0;
    padding-top: 0;
  }

  .card-body h3 {
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 20px;
  }

  .card-body h4{
    font-size: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .portfolio .row{
    margin-top: 20px;
  }
  